body {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    position: relative; 
    background: no-repeat;
    background: #222222;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 400px;
    max-width: 400px;
    min-height: 100vh;
    background: #7386D5;
}

#sidebar .sidebar-header {
    padding: 40px;
    background: #6d7fcc;
}